@using Microsoft.AspNetCore.Components.Forms
<div class="d-flex flex-column">

	@if(!HideTitle)
	{
		<div class="d-flex justify-content-center text-center pb-1">@Title</div>
	}
	@if(IsMaster)
	{
		<EditForm Model="clock">
			<InputText @bind-Value=clock.Title />
			<div @onclick=PropagateChange> >> </div>
		</EditForm>
	}

	<div class="Clock d-flex gap-2 flex-wrap justify-content-center">
	@if (clock.Steps.Count > 0)
	{
		<i class="bi @(0 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(0);})></i>
	}
	@if (clock.Steps.Count > 1)
	{
		<i class="bi @(1 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(1);})></i>
	}
	@if (clock.Steps.Count > 2)
	{
		<i class="bi @(2 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(2);})></i>
	}
	@if (clock.Steps.Count > 3)
	{
		<i class="bi @(3 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(3);})></i>
	}
	@if (clock.Steps.Count > 4)
	{
		<i class="bi @(4 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(4);})></i>
	}
	@if (clock.Steps.Count > 5)
	{
		<i class="bi @(5 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(5);})></i>
	}
	@if (clock.Steps.Count > 6)
	{
		<i class="bi @(6 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(6);})></i>
	}
	@if (clock.Steps.Count > 7)
	{
		<i class="bi @(7 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(7);})></i>
	}
	@if (clock.Steps.Count > 8)
	{
		<i class="bi @(8 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(8);})></i>
	}
	@if (clock.Steps.Count > 9)
	{
		<i class="bi @(9 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(9);})></i>
	}
		@if (clock.Steps.Count > 10)
		{
			<i class="bi @(10 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(10);})></i>
		}
		@if (clock.Steps.Count > 11)
		{
			<i class="bi @(11 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(11);})></i>
		}
		@if (clock.Steps.Count > 12)
		{
			<i class="bi @(12 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(12);})></i>
		}
		@if (clock.Steps.Count > 13)
		{
			<i class="bi @(13 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(13);})></i>
		}
		@if (clock.Steps.Count > 14)
		{
			<i class="bi @(14 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(14);})></i>
		}
		@if (clock.Steps.Count > 15)
		{
			<i class="bi @(15 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(15);})></i>
		}
		@if (clock.Steps.Count > 16)
		{
			<i class="bi @(16 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(16);})></i>
		}
		@if (clock.Steps.Count > 17)
		{
			<i class="bi @(17 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(17);})></i>
		}
		@if (clock.Steps.Count > 18)
		{
			<i class="bi @(18 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(18);})></i>
		}
		@if (clock.Steps.Count > 19)
		{
			<i class="bi @(19 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(19);})></i>
		}
		@if (clock.Steps.Count > 20)
		{
			<i class="bi @(20 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(20);})></i>
		}
		@if (clock.Steps.Count > 21)
		{
			<i class="bi @(21 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(21);})></i>
		}
		@if (clock.Steps.Count > 22)
		{
			<i class="bi @(22 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(22);})></i>
		}
		@if (clock.Steps.Count > 23)
		{
			<i class="bi @(23 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(23);})></i>
		}
		@if (clock.Steps.Count > 24)
		{
			<i class="bi @(24 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(24);})></i>
		}
		@if (clock.Steps.Count > 25)
		{
			<i class="bi @(25 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(25);})></i>
		}
		@if (clock.Steps.Count > 26)
		{
			<i class="bi @(26 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(26);})></i>
		}
		@if (clock.Steps.Count > 27)
		{
			<i class="bi @(27 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(27);})></i>
		}
		@if (clock.Steps.Count > 28)
		{
			<i class="bi @(28 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(28);})></i>
		}
		@if (clock.Steps.Count > 29)
		{
			<i class="bi @(29 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(29);})></i>
		}
		@if (clock.Steps.Count > 30)
		{
			<i class="bi @(30 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(30);})></i>
		}
		@if (clock.Steps.Count > 31)
		{
			<i class="bi @(31 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(31);})></i>
		}
		@if (clock.Steps.Count > 32)
		{
			<i class="bi @(32 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(32);})></i>
		}
		@if (clock.Steps.Count > 33)
		{
			<i class="bi @(33 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(33);})></i>
		}
		@if (clock.Steps.Count > 34)
		{
			<i class="bi @(34 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(34);})></i>
		}
		@if (clock.Steps.Count > 35)
		{
			<i class="bi @(35 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(35);})></i>
		}
		@if (clock.Steps.Count > 36)
		{
			<i class="bi @(36 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(36);})></i>
		}
		@if (clock.Steps.Count > 37)
		{
			<i class="bi @(37 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(37);})></i>
		}
		@if (clock.Steps.Count > 38)
		{
			<i class="bi @(38 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(38);})></i>
		}
		@if (clock.Steps.Count > 39)
		{
			<i class="bi @(39 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(39);})></i>
		}
		@if (clock.Steps.Count > 40)
		{
			<i class="bi @(40 < clock.Status?"bi-x-square":"bi-square")" @onclick=@(()=>{Click(40);})></i>
		}
	</div>
</div>
@code {
	[Parameter] public Clock clock { get; set; } = new();
	[Parameter] public bool HideTitle { get; set; }
	[Parameter] public EventCallback PropagateChange { get; set; }
	[Parameter] public bool IsMaster { get; set; }
	private string Title => clock?.Title ?? "";

	private void Click(int i)
	{
		if(IsMaster)
		{
			var wanted = i + 1;
			if (wanted == clock.Status)
				clock.Status--;
			else
				clock.Status = wanted;

			PropagateChange.InvokeAsync();
		}
	}
}
